* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     background-image: url(../img/fondo.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

main {
     background-color: #fff;
     width: 30vw;
     border-radius: 6px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     margin-top: 20vh;
}

.titulo-formulario {
     width: 100%;
     padding: 12px 15px 20px 15px;
     text-align: center;
     font-size: 23px;
     font-weight: 700;
     color: white;
     background-color: #ff2f2c;
}

.formulario-login {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 25px;
}

.form-group {
     display: flex;
     flex-direction: column;
     width: 100%;
}

.form-group input,
.form-group select {
     width: 100%;
     padding: 8px 0 8px 10px;
     font-size: 1rem;
     border: none;
     border-bottom: 0.1px solid #ff2f2c;
     outline: none;
     margin-bottom: 20px;
}

.form-group select {
     appearance: none;
}

.boton-registro {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
     width: 100%;
}

.boton-registro button {
     padding: 10px 60px;
     font-size: 1rem;
     margin-bottom: 20px;
     border: none;
     border-radius: 10px;
     background-color: #ff2f2c;
     color: white;
     cursor: pointer;
}

.boton-registro a {
     color: black;
     text-decoration: underline;
     font-weight: bold;
     text-align: center;
     margin-bottom: 5px;
}

img {
     position: absolute;
     width: 350px;
     height: 350px;
     right: 17vw;
     bottom: 14vh;
     object-fit: contain;
}


@media (max-width: 1900px) {
     body {
          flex-direction: column;
          align-items: center;
          height: auto;
     }
     
     main{
          margin-bottom: 180px;
     }

     img {
          position: relative;
          width: 450px;
          height: 450px;
          right: auto;
          bottom: auto;
          margin: 30px auto 0 auto;
          margin-bottom: 50px;
     }
}

@media (max-width: 1510px) {
     main {
          width: 40vw;
          margin-bottom: 160px;
     }

     img {
          width: 380px;
          height: 380px;
          margin-bottom: 50px;
     }
}

@media (max-width: 992px) {
     main {
          width: 50vw;
          margin-bottom: 140px;
     }

     img {
          width: 350px;
          height: 350px;
          margin-bottom: 40px;
     }
}

@media (max-width: 768px) {
     main {
          width: 80vw;
          margin-top: 5vh;
          margin-bottom: 120px;
     }

     img {
          width: 300px;
          height: 300px;
          margin-bottom: 30px;
     }
}

@media (max-width: 480px) {
     main {
          width: 90vw;
          margin-bottom: 100px;
     }

     img {
          width: 230px;
          height: 230px;
          margin-bottom: 20px;
     }
}

@media (max-width: 360px) {
     main {
          width: 95vw;
          margin-bottom: 80px;
     }

     img {
          width: 200px;
          height: 200px;
          margin-bottom: 10px;
     }
}